
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test</title>
  <style>
      .hidden
      {
          display: none;
      }
      #map {
    height:420px;
    width:600px;
     }
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}

  </style>

  <script src="angular.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDTSoOhOTjnkR7K7yOEZhln2PTFNFU15TA&sensor=false"></script>

  
  
  <script>
//        var myCenter=new google.maps.LatLng(51.508742,-0.120850);
//        var marker;
//
//        function initialize()
//        {
//        var mapProp = {
//          center:myCenter,
//          zoom:5,
//          mapTypeId:google.maps.MapTypeId.ROADMAP
//          };
//
//        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
//
//        marker=new google.maps.Marker({
//          position:myCenter,
//          animation:google.maps.Animation.BOUNCE
//          });
//
//        marker.setMap(map);
//        }
//
//        google.maps.event.addDomListener(window, 'load', initialize);
</script>
<!--  <script>
function initialize()
{
var mapProp = {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };
var map=new google.maps.Map(document.getElementById("googleMap")
  ,mapProp);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>-->
</head>

<body ng-app="submitExample" ng-controller="ExampleController">
    
   <script>
  
  
  var app =  angular.module('submitExample', []);
  
  var imagesource = "";
  var locationaddr =  {} ;
  
  app.directive("fileread", [function () {
    return {
        scope: {
            fileread: "="
        },
        link: function (scope, element, attributes) {
            element.bind("change", function (changeEvent) {
                var reader = new FileReader();
                reader.onload = function (loadEvent) {
                    scope.$apply(function () {
                        scope.fileread = loadEvent.target.result;
                        imagesource = loadEvent.target.result;
                    });
                }
                reader.readAsDataURL(changeEvent.target.files[0]);
                
            });
        }
    }
}]);

//  app.directive('fileModel', ['$parse', function ($parse) {
//          
//    return {
//        restrict: 'A',
//        link: function(scope, element, attrs) {
//            var model = $parse(attrs.fileModel);
//           
//            var modelSetter = model.assign;
//            
//            element.bind('change', function(){
//                scope.$apply(function(){
//                    modelSetter(scope, element[0].files[0]);
//                });
//            });
//        }
//    };
//}]);

     app.controller('ExampleController', ['$scope','$http','$location','$window', function($scope,$http,$location,$window) {
     $scope.value = true;
            
         
            $scope.submit = function() {
                
                 $scope.link = imagesource;
                 $scope.value = false;
           
          var file = $scope.myFile;
//             var file = $scope.myFile;
//alert(file.size);
//fileUpload.uploadFileToUrl(file, uploadUrl);
  function GetLocation(address) {
      
            var geocoder = new google.maps.Geocoder();
          
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
//                    var latitude = results[0].geometry.location.lat();
//                    var longitude = results[0].geometry.location.lng();
//                    alert("Latitude: " + latitude + "\nLongitude: " + longitude);
                    locationaddr.latitude = results[0].geometry.location.lat();
                    locationaddr.longitude = results[0].geometry.location.lng();
                    var mapOptions = {
                    zoom: 8,
                    center: new google.maps.LatLng(locationaddr.latitude, locationaddr.longitude),
                    mapTypeId: google.maps.MapTypeId.TERRAIN
                }

                 $scope.map = new google.maps.Map(document.getElementById('map'), mapOptions);

                $scope.marker = [];
                  var infoWindow = new google.maps.InfoWindow();

                var createMarker = function (info){
                    var marker = new google.maps.Marker({
                        map: $scope.map,
                        animation:google.maps.Animation.BOUNCE,
                        position: new google.maps.LatLng(info.lat, info.long),
                        title: info.city
                    });

                    google.maps.event.addListener(marker, 'click', function(){
                        infoWindow.setContent('<h2>' + marker.title + '</h2>');
                        infoWindow.open($scope.map, marker);
                    });

                    $scope.marker.push(marker);

                }  
                createMarker(    {
                    city : address,
                    lat : locationaddr.latitude,
                    long : locationaddr.longitude
                });
                              alert(locationaddr.longitude);
                                alert(locationaddr.latitude);
            //                    google.maps.event.addDomListener(window, 'load', initialize);

                            } else {
                                alert("Request failed.")
                            }
                        });
        };
           GetLocation($scope.location);
           
           var info = 
                   {
                       name: $scope.name,
                       location: locationaddr,
                       pic: imagesource
           }
          
//         if () {
alert(4);
                 $http.post('http://localhost:3000',info ).success(function(data)
             {
//                 alert(data.length); 
//          $window.location.href = 'http://localhost:8383/QuizingaApp/data.html';
            });
//         }
       };
     }]);
 </script>
 <div>
 <form ng-submit="submit()"  >
   
     <table ng-show="value" border ="1" align="center" style="margin-top: 10%" class="table"> 
        <tr>
            <td>
                Name: 
            </td>
            <td>
                <input id-="name" type="text" ng-model="name" required />
            </td>
        </tr>
        <tr>
            <td>
                Location
            </td>
            <td>
                 <input id-="location" type="text" ng-model="location" required />
            </td>
        </tr>
        <tr>
            <td>
                pic
            </td>
            <td>
                   
                   <input type="file" fileread="vm.uploadme" required />
            
<!--            <input id="inputImage2" 
                type="file" 
                accept="image/*" 
                image="image2" 
                 file-model="myFile" />-->
            
                <!--<input id-="pic" type="file" ng-model="image" />-->
<!--                 <input type="file" accept="image/*" image="image"/>
                <img ng-show="image" ng-src="{{image.url}}" type="{{image.file.type}}" />-->

                 <!--<img src=""-->
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="submit" value="Submit" />
           </td>
        </tr>
    </table> 
     
    
     
       <!--<div id="map"></div>-->
   
     <!--<div id="googleMap" style="width:500px;height:380px;"></div>-->
   <div ng-hide="value">
<!--<div >-->
       <table border="1" width="70%" align="center">   
           <tr>
               <td>
                   name : 
               </td>
               <td>
                   <span ng-bind="name"></span>
               </td>
           </tr>
            <tr>
               <td>
                   location: 
               </td>
               <td>
                   <span ng-bind="location"></span>
               </td>
           </tr>
            <tr>
               <td>
                   Image
               </td>
               <td>
                   <img ng-src="{{link}}" alt="no-image" style="max-width: 50%;height: auto"/> 
               </td>
           </tr>
            <tr>
               <td>
                   Maps
               </td>
               <td>
                   <div id="map"></div>
               </td>
           </tr>
       </table>
      
       <!--<img ng-src="{{link}}" width="30px" height="30px"/>--> 
       
       </table>
   </div>
 </form>
     </div>
 <!--<div>-->
 
 <!--</div>-->
</body>
</html>
